{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}

<h1>Password change</h1>
<p>please enter your old password ,
    and then enter your new password twice to verify it correctly. </p>

{% block content %}
<form method ="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <button class=" btn btn_success " type="submit">submit my password</button>
</form>
{% endblock content %}