{% extends 'base.html' %}

{% block title %}
    Forgot Your Password ?
{% endblock title %}

{% block content %}
    <h1> Forgot Your password ! </h1>
    <p>Enter your email address below , and we will help to setting new password</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="=submit" value="send me instructions please" class="btn btn_success ">
    </form>
{% endblock content %}