{% extends 'base.html' %}

{% block title %}
    Password Reset Complete .
{% endblock title %}

{% block content %}
    <h1> Password Reset Complete </h1>
    <p>You can Log in now <a href= "{% url 'login' %}">Log In</a></p>
{% endblock content %}