{% extends 'base.html' %}

{% block title %}
    Enter New password .
{% endblock title %}

{% block content %}
    <h1> Set a New password </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="=submit" value="change my password" class="btn btn_success ">
    </form>
{% endblock content %}